{% extends "::base.html.twig" %}

{% block breadcumb %}
    <li class="breadcrumb-item active"><a href="#">Dashboard</a></li>

{% endblock breadcumb %}
{% block body %}

<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-6 col-lg-3">
            <div class="card card-inverse card-primary">
                <div class="card-block p-b-0">
                    <h4 class="m-b-0">9.823</h4>
                    <p>Members online</p>
                </div>
            </div>
        </div>
        
        <div class="col-sm-6 col-lg-3">
            <div class="card card-inverse card-info">
                <div class="card-block p-b-0">
                    <h4 class="m-b-0">9.823</h4>
                    <p>Members online</p>
                </div>
            </div>
        </div>
        
        <div class="col-sm-6 col-lg-3">
            <div class="card card-inverse card-warning">
                <div class="card-block p-b-0">
                    <h4 class="m-b-0">9.823</h4>
                    <p>Members online</p>
                </div>
                
            </div>
        </div>
        
        <div class="col-sm-6 col-lg-3">
            <div class="card card-inverse card-danger">
                <div class="card-block p-b-0">
                    <h4 class="m-b-0">9.823</h4>
                    <p>Members online</p>
                </div>
            </div>
        </div>
        
    </div>
    
    
    
    
    
    
    
</div>

{% endblock body %}